<p id="notice"><%= notice %></p>

<p>
  <strong>Device:</strong>
  <%= @equipment.device_id %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
